<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
	<appender name="consoleLogger" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</layout>
	</appender>
	
	<appender name="fileLogger" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> -->
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/home/logs/tcc-demo/rolling.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
	
	<logger name="com.zb.tcc.mappers" level="DEBUG" />
	
	<root level="info">
		<appender-ref ref="consoleLogger" />
		<appender-ref ref="fileLogger" />
	</root>
</configuration>