<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.test.cassandra.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mybatis.test.cassandra.entity.Customer">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age"/>
        <result column="tags" property="tags" />
        <result column="createtime" property="createtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, age, tags, createtime
    </sql>


    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from customer
        where id = #{id}
    </select>

    <select id="selectList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from customer
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null and name != ''">
                AND name = #{name}
            </if>
            <if test="age != null">
                AND age = #{age}
            </if>
        </where>
        ALLOW FILTERING
    </select>

    <select id="selectPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from customer
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null and name != ''">
                AND name = #{name}
            </if>
            <if test="age != null">
                AND age = #{age}
            </if>
            <if test="lastId != null">
                AND token(id) > token(#{lastId})
            </if>
        </where>
        <if test="pageSize != null">
            limit #{pageSize}
        </if>
        ALLOW FILTERING
    </select>

</mapper>
