<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mydataway.cdpservice.api.mapper.CassandraConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mydataway.cdpservice.api.entity.CassandraConfig">
        <id column="id" property="id" />
        <result column="company_code" property="companyCode" />
        <result column="cassandra_hosts" property="cassandraHosts"/>
        <result column="datacenter" property="datacenter" />
        <result column="keyspace" property="keyspace" />
        <result column="extra" property="extra" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, company_code, cassandra_hosts, datacenter, keyspace, extra
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into app_cassandra_config
        (
            company_code,
            cassandra_hosts,
            datacenter,
            keyspace,
            extra
        )
        values
        (
            #{companyCode},
            #{cassandraHosts},
            #{datacenter},
            #{keyspace},
            #{extra}
        )
    </insert>

    <update id="updateById" >
        update app_cassandra_config
        <set>
            <if test="companyCode != null">
                company_code = #{companyCode},
            </if>
            <if test="cassandraHosts != null">
                cassandra_hosts = #{cassandraHosts},
            </if>
            <if test="datacenter != null">
                datacenter = #{datacenter},
            </if>
            <if test="keyspace != null">
                keyspace = #{keyspace},
            </if>
            <if test="extra != null">
                extra = #{extra}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectByCompanyCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from app_cassandra_config
        where company_code = #{companyCode}
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from app_cassandra_config
        where id = #{id}
    </select>

    <select id="selectByEntity" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from app_cassandra_config
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="entId != null">
                ent_id = #{entId}
            </if>
        </where>
    </select>

</mapper>
