<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mydataway.cdpservice.api.mapper.CassandraConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mydataway.cdpservice.api.entity.CassandraConfig">
        <id column="id" property="id" />
        <result column="company_code" property="companyCode" />
        <result column="cassandra_host" property="cassandraHost" />
        <result column="cassandra_port" property="cassandraPort" />
        <result column="datacenter" property="datacenter" />
        <result column="keyspace" property="keyspace" />
        <result column="extra" property="extra" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, company_code, cassandra_host, cassandra_port, datacenter, keyspace, extra
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into app_cassandra_config
        (
            company_code,
            cassandra_host,
            cassandra_port,
            datacenter,
            keyspace,
            extra
        )
        values
        (
            #{companyCode},
            #{cassandraHost},
            #{cassandraPort},
            #{datacenter},
            #{keyspace},
            #{extra}
        )
    </insert>

    <update id="updateById" >
        update app_cassandra_config
        <set>
            <if test="companyCode != null">
                company_code = #{companyCode},
            </if>
            <if test="cassandraHost != null">
                cassandra_host = #{cassandraHost},
            </if>
            <if test="cassandraPort != null">
                cassandra_port = #{cassandraPort},
            </if>
            <if test="datacenter != null">
                datacenter = #{datacenter},
            </if>
            <if test="keyspace != null">
                keyspace = #{keyspace},
            </if>
            <if test="extra != null">
                extra = #{extra}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectByEntId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from app_cassandra_config
        where ent_id = #{entId}
    </select>

</mapper>
