<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.tcc.mapper.order.OrderMapper">

	<resultMap id="BaseResultMap" type="com.zb.tcc.domain.order.Order">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="order_code" property="orderCode" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Common_Query">
		<where>
			<if test="id != null">
				AND id != #{id}
			</if>
			<if test="orderCode != null and orderCode != ''">
				AND order_code = #{orderCode}
			</if>
		</where>
	</sql>

	<sql id="Base_Columns">
		id, order_code
	</sql>
	
	<select id="select" resultMap="BaseResultMap" parameterType="java.lang.Long">
		SELECT <include refid="Base_Columns" />
		FROM t_order
		WHERE id = #{id,jdbcType=BIGINT}
	</select>
	
	<select id="selectListByQuery" parameterType="OrderQuery" resultMap="BaseResultMap">
		SELECT <include refid="Base_Columns" />
		FROM t_order
		<include refid="Common_Query" />
	</select>
	
	 <delete id="delete" parameterType="java.lang.Long">
		DELETE FROM t_order
		WHERE id = #{id,jdbcType=BIGINT}
	</delete>
	
	<insert id="insert" parameterType="com.zb.tcc.domain.order.Order" keyProperty="t_orderId" useGeneratedKeys="true">
		INSERT INTO t_order
		(
			order_code
		)
		VALUES (#{orderCode,jdbcType=VARCHAR})
	</insert>

	<update id="update" parameterType="com.zb.tcc.domain.order.Order">
		UPDATE t_order
		<set>
			<if test="orderCode != null and orderCode != ''">
				order_code = #{orderCode,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="id != null">
			WHERE id = #{id,jdbcType=BIGINT}
		</if>
	</update>
</mapper>